!!!
%html
  %head
    %title Mc07JobsBoard
    =csrf_meta_tags
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    =javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          =button_tag type: 'button', class:'navbar-toggle',
            data:{ toggle:'collapse', target:'#nav-jobs-user' } do
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .navbar-brand= link_to 'Rails Jobs', jobs_path
        .collapse.navbar-collapse#nav-jobs-user
          %ul.nav.navbar-nav= render 'jobs/job_filter_links'
          %ul.nav.navbar-nav.navbar-right= render 'layouts/user_navbar_links'

    .container
      #messages
        -flash.each do |name, msg|
          =content_tag :p, msg, class:"#{name}"

      .col-md-6.col-md-offset-3= yield
